.cakeCard {
    height: 200px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.4);
    margin: 20px;
    background-color:white;
}

.cakeCard img {
    height: 100%;
    width: 200px;
    object-fit: cover;
    padding-right: 10px;
}